.js-dialog-wrapper,
.js-dialog-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity .3s ease-out;
}


.js-dialog-mask {
  background-color: rgba(0,0,0,.5);
  transition: background-color .3s ease-out;
  animation: opacity-fade-in 0.5s;

  &-leave {
    animation: opacity-fade-out 0.5s;
  }
}

.js-dialog {
  background-color: #fff;
  position: relative;
  z-index: 1;
  width: 400px;
  max-height: ~'calc(100vh - 24px * 2)';
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 5px 20px rgba(26,26,26,.1);
  box-sizing: border-box;
  transition: max-height .5s ease;
  border-radius: 3px;

  &-enter {
    animation: dialog-fade-in .3s;
  }
  &-leave {
    animation: dialog-fade-out .5s;
  }

  &-header {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    color: #40424a;
    font-size: 13px;
  }
  &--close {
    float: right;
    margin-top: 8px;
    margin-right: -8px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: #6d6e73;
    cursor: pointer;

    &:hover {
      color: #EF4A4A;
    }
  }

  &-content {
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@keyframes dialog-fade-in {
  0% {
    // transform: translate3d(0, -20px, 0);
    transform: rotate(180deg);
    opacity: 0;
  }
  100% {
    // transform: translate3d(0, 0, 0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  }
  100% {
    transform:translate3d(0, -40px, 0);
    opacity:0;
  }
}

@keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

